# Unreal generated
Binaries/
Intermediate/
Saved/
DerivedDataCache/
Packaged/
Build/Mac/FileOpenOrder/
Plugins/*/Intermediate/
PluginSource/*/Intermediate/
PluginSource/*/Binaries/

# macOS
.DS_Store

# Python
__pycache__/
